mixin nextandprev
    button.btn-small.btn-small__reg#next Next
    button.btn-small.btn-small__reg#previous Previous
    
mixin next
    button.btn-small.btn-small__reg#next Next

mixin prevandsubmit
    button.btn-small.btn-small__reg#previous Previous
    button.btn-small.btn-small__reg#submit Submit