footer.footer
    ul.footer__nav
        li: a(href="#") Home
        li: a(href="#") Studio
        li: a(href="#") About
        li: a(href="#") Privacy Policy
        li: a(href="#") Terms
    img.footer__img.fav(src="/img/logo-favicon-blue.svg", alt="MusiWork Logo")
    img.footer__img.land(src="/img/logo-blue.svg", alt="MusiWork Logo")
    p.footer__copyright Jarred Cianciulli (he/his/him) for anyone searching to learn, develope and/or collaborate. &copy; 2021